$clr-primary-1: #004285;
$clr-primary-5: #46a5e8;
$clr-primary-8: #a7d9fc;

$clr-white: #fff;
$clr-black: #222;

$clr-green: #155724;
$clr-green-dark: #25ba20;
$clr-green-light: #6ade66;
$clr-light-green: #d4edda;

$clr-maroon: #721c24;
$clr-pink: #f8d7da;

$clr-grey-1: #0f3047;
$clr-grey-5: #6b8496;
$clr-grey-10: #f5f9fc;

$clr-red-dark: #ab1b1b;
$clr-red-light: #ed7474;


$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;